<!-- Toolbar -->
<div class="container">
  <div class="logo">
    <div class="chincheta" id="morada"></div>
    <p>Lab</p>
    <p>Notes</p>
  </div>  
  <div class="hoja">
    <div class="cabecera">
      <div class="chincheta-media" id="roja"></div>
      <p>TO DO LIST:</p>
      <div class="chincheta-media" id="verde"></div>
    </div>
    <div class="contenido">
      <h1>- Iniciar Sesión</h1>
      <p>Llenar los siguientes campos:</p>
      <label>E-mail:<input type="text"></label>
      <br>
      <label>Contraseña:<input type="password"></label>
      <br>
      <button type="submit">Ingresar</button><br>
      <h2>- Si no tengo cuenta,</h2>
      <button type="button">Registrarme</button>
    </div>
  </div> 
</div>