<div class="container">
    <div class="logo">
      <div class="chincheta" id="morada"></div>
      <p>Lab</p>
      <p>Notes</p>
    </div>  
    <div class="hoja">
      <div class="cabecera">
        <div class="chincheta-media" id="roja"></div>
        <p>TO DO LIST:</p>
        <div class="chincheta-media" id="verde"></div>
      </div>
      <div class="contenido">
        <h1>- Iniciar Sesión</h1>
        <p>Llenar los siguientes campos:</p>
        <div class="email">
          <label>E-mail:</label>
          <input type="email" id="input-email" required placeholder="test@test.com" [(ngModel)]='user.email'>
        </div>
        <div class="password">
          <label>Contraseña:</label>
          <input type="password" required placeholder="*******" [(ngModel)]='user.password'>
        </div>
        <button type="submit"  (click)='newLogIn()'>Ingresar</button><br>
        <h2>- Si no tengo cuenta,</h2>
        <button type="button" routerLink="/signUp">Registrarme</button>
      </div>
    </div> 
  </div>
